body {
    background-image: url(../images/white-waves.png);
    background-color: #ccc;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.main {
    background-color: white;
    padding:20px;
    margin-bottom:20px;
}

#profilePicture {
    height: 100%;
    width: 100%;
    padding:20px;
}

.portfolioPicture {
    height:100%;
    width:100%;
    padding:20px;
}